<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style8.css" />
    <title>Select Room Page</title>
</head>
<body>
    <body>
        <div class="dashboard">
            <nav class="sidebar">
                <div class="logo-container">
                    <img src="/img/logo_sdy_dash.png" alt="SDU Logo" class="logo-img">
                </div>
                <div class="nav-items">
                    <a href="/dining" class="nav-item">
                        <span class="nav-icon">
                            <img src="/img/coffee_icon.png" alt="home_icon" class="home_icon">
                        </span>
                    </a>
                    <a href="/home" class="nav-item">
                        <span class="nav-icon">
                            <img src="/img/person_icon.png" alt="coffee_icon" class="coffee_icon">
                        </span>
                    </a>
                </div>
            </nav>
            <main class="main-content">
                <header class="dashboard-header">
                    <div class="user-profile">
                        <div class="profile-icon">
                            <img src="/img/home_icon.png" alt="person_icon" class="person_icon">
                        </div>
                    </div>
                    <a href="/logout" class="exit-button">Exit</a>
                </header>
                <div class="info-container dining-container"><div class="input-group">
                    <img class="mainimg" src="/img/image.png" alt="">

                    <div class="input-group">
                        <label>Info</label>
                        <div class="custom-select">
                            You don’t have a room. Please choose a room !
                        </div>
                    </div>

                    <a href="/dorm/booking">
                    <button class="show-room-btn">Select</button>
                    </a>
                </div>
            </main>
        </div>
    
    </body>
</body>
</html>