<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dorm Service</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="login-box">
            <h1>Dorm Service</h1>
            <div class="buttons">
                <button class="btn student">Log in as Student</button>
                <button class="btn admin">Log in as Admin</button>
            </div>
            <div class="note">
                <p>You can create dorm service for your university if you are admin your university</p>
            </div>
        </div>
        <div class="pattern"></div>
    </div>
</body>
</html>